.bg1
{
	background-color: #f4511e;
	color:white;
}

.signal
{
 font-size:250px; color:#f4511e;background-color:white;"
}

.globe
{
	font-size:250px; color:#f4511e;background-color: #eee
}

.sericon{
	font-size:50px; color:#f4511e;background-color:white;"
}
.panelcolor
{
	background:#f4511e;color:white;
}
.pborder
{
	border:1px solid #f4511e;
	
}